<h1>Uptime Monitoring</h1>
<h2>Made Simple</h2>

<div class="blurb">
    We offer free simple uptime monitoring for HTTP/HTTPS sites of all kinds. When your site goes down, we will send a text to let you know.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sin laboramus, quis est, qui alienae modum statuat industriae? Tubulum fuisse, qua illum, cuius is condemnatus est rogatione, P. Duo Reges: constructio interrete. At ille pellit, qui permulcet sensum voluptate. An, partus ancillae sitne in fructu habendus, disseretur inter principes civitatis, P. Nunc vides, quid faciat. Idemque diviserunt naturam hominis in animum et corpus.
    Sed ad bona praeterita redeamus. Sin te auctoritas commovebat, nobisne omnibus et Platoni ipsi nescio quem illum anteponebas? Deinde dolorem quem maximum? Aliter enim explicari, quod quaeritur, non potest. Ad corpus diceres pertinere-, sed ea, quae dixi, ad corpusne refers?
    Quorum sine causa fieri nihil putandum est. Beatus autem esse in maximarum rerum timore nemo potest. At quicum ioca seria, ut dicitur, quicum arcana, quicum occulta omnia? Qui autem esse poteris, nisi te amor ipse ceperit? Memini vero, inquam; Cum praesertim illa perdiscere ludus esset.
</div>

<div class="ctaWrapper">
    <a class="cta green" href="account/create">Get Started</a>
    <a class="cta blue" href="session/create">Login</a>
</div>